/* 
Things to add in CSS:
- Margins for every text.html file.
- Format the unordered list to be center-aligned in 2 - variables.html and 4 - string.html.
- Add boxes and a greyed background / a different colored background for all the <code></code> snippets.
- A Navigation Bar (DONE)
*/ 

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    margin-bottom: 50px;
    padding: 0px;
}

p {
    margin-top: 10px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 10px;
}

ul {
    margin-top: 10px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 10px;
}

ol {
    margin-top: 10px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 10px;
}

h3 {
    margin-top: 10px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 10px;
}

nav {
    background: #0082e6;
    list-style-type: none;
    height: 100px;
    width: 100%;
}

nav ul { 
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
    text-align: center;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    /* text-transform: uppercase; */
}

a.active, a:hover {
    background: #1b9bff;
    transition: .5s;
}
